.top {
    padding: 30px;
    background-color:black;
    color: red;
    font-size: 60px;
    border-radius: 10px;
    text-align: center;
    
  }
  body{
    background-color: black;
  }

/* CSS */




/* CSS */
.button-55 {
  position: static;
  top: 0px;
  align-items: center;
  background-color: #ff0000;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:after {
  background-color: #ffffff;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-55:hover:after {
  transform: translate(0, 0);
}

.button-55:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-55:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-55 {
    padding: 0 40px;
  }
}

.button-56 {
  align-items: center;
  background-color: #ff0000;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-56:after {
  background-color: #ffffff;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}


.button-50 {
  align-items: center;
  background-color: #ff0000;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-50:after {
  background-color: #ffffff;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-50:hover:after {
  transform: translate(0, 0);
}

.button-50:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-50:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-50 {
    padding: 0 40px;
  }
}

.button-58 {
  align-items: center;
  background-color: #ff0000;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-58:after {
  background-color: #ffffff;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-58:hover:after {
  transform: translate(0, 0);
}

.button-58:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-58:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-58 {
    padding: 0 40px;
  }
}

.button-59 {
  align-items: center;
  background-color: #ff0000;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-59:after {
  background-color: #ffffff;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.button-59:hover:after {
  transform: translate(0, 0);
}

.button-59:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-59:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-59 {
    padding: 0 40px;
  }
}

.but {
  width: 100px;
  padding: 2px;
  margin-right: 100px;
  margin-top: 97px;
  margin-left: 2px;
  flex: 200%;
  display: flex;
}

@media (min-width: 768px) {
.top {
  padding: 30px;
  background-color:black;
  color: red;
  font-size: 60px;
  border-radius: 10px;
  text-align: center;
}
}

@media (min-width: 768px) {
  .but {
    width: 100px;
    padding: 2px;
    margin-right: 100px;
    margin-top: 97px;
    margin-left: 491px;
    flex: 20%;
    display: flex;
  }
}
