@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    background-color: black;
}

body {
    min-height: 120vh;
    background: url(team\ x.jpg);
    background-size: cover;
    background-position: center;

}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    backdrop-filter: blur(50px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}


.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .5s;
}

.header:hover::after {
    left: 100%;
}
.logo{
    font-size: 2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 1.15rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
   
}

#check {
    display: none;
}

.icons {
position: absolute;
right: 5%;
font-size: 2.8rem;
color: #fff; 
cursor: pointer;
display: none;
}

@media (max-width:992px) {
    .header {
        padding: 1.3rem 5%;
    }
}

@media (max-width: 768px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        backdrop-filter: blur(50px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        overflow: hidden;
        transition: .3s ease;
    }

    #check:checked~.navbar {
        height: 17.7rem;
    }
    

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: r;
        transform: translateY(-50px);
        text-align: center;
        text-decoration: none;
        opacity: 0;
        transition: .3s ease;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(.15s  * var(--i));
    }
    
}

@media (max-width: 768px) {
    body {
        min-height: 50vh;
      
        background: url(team\ x.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.second {
    background-color: black;
}

.ayahaga{
    text-align: center;
    margin-top: 1200PX;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 40PX;
    width: 40%;
    margin-left: 30%;
    font-size: 50px;
    font-weight: bold;
   position: absolute;
    /* border-radius: 30px; */
}
.pic {
        max-width: 100%;
        margin-top: 305px;
        height: auto;
        width: 100%;
        background-color: rgb(0, 0, 0);
        object-fit: fill;
        object-position: center ;
        transform: scale(3)
        
}
@media (max-width: 768px) {
    .ayahaga {
        text-align: center;
        margin-top: 700px;
        color: rgb(255, 255, 255);
        padding: 3px;
      
        margin-left: 30%;
        font-size: 50px;
        font-weight: bold;
        position: absolute;
    }
}

.w {
    text-align: center;
    margin-top: 900PX;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    padding: 40PX;
    padding-right: 50px;
    width: 40%;
    margin-left: 380px;
    margin-right: 30%;
    font-size: 50px;
    font-weight: bold;
   position: absolute;
    /* border-radius: 30px; */
}

@media (max-width: 768px) {
    .w {
        text-align: center;
        margin-top: 400px;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        padding: 40px;
        padding-right: 50px;
        width: 20%;
        margin-left: 0px;
        margin-right: 30%;
        font-size: 20px;
        font-weight: bold;
        position: absolute;
    }
}

.social {
    margin-top: 2149px;
    margin-right: 40px;
    padding: 100px;
    padding-right: 50px;
    width: 50%;
    margin-left: 540px;
    margin-right: 30%;
    font-size: 20px;
    position: absolute;
    border-radius: 2%;
    justify-content: space-between;

    list-style: none;
}
.social a {
    margin-left: auto;
}
.face {
    transform: scale(0.5);
}
@media (max-width: 768px) {
    .pic{
        max-width: 100%;
        margin-top: 95px;
        height: auto;
        width: 100%;
        object-fit: fill;
        object-position: center;
        transform: scale(2.4);
        margin-left: 10px;
        padding-block: inherit;
    }
}
@media (max-width: 768px) {
    .social {
        margin-top: 1155px;
        margin-right: 40px;
        padding: 100px;
        padding-right: 27px;
        width: 100%;
        margin-left: -30px;
        margin-right: 30%;
        font-size: 20px;
        position: absolute;
        border-radius: 2%;
        justify-content: space-between;
    
        list-style: none;
    }
    }


        /* String value *
}

}
/*.section1 {
    width: 100vw;
    height: 40vh;
    background-color: aqua;
    font-size: 50px;
    color: blue;
    text-align: center;
    margin: 10px 5px;
}



 /* ul{ //*
    list-style: none;
    background: #22438c;
}
ul li {
    display: inline-block;
    padding: 20px 25px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-size: 20px;
}
ul li ul.dropdown li {
    display: block;
}
ul li ul.dropdown {
    width: 100%;
    background: #22438c;
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover {
    background: #112c66;

}
ul li:hover ul.dropdown {
    display:block;
}

